<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>RedBip! </title>

    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Datatables -->
    <link href="../vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="../vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="../vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="../vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="../vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0">
                        <a href="/home/index" class="site_title"><i class="fa fa-pie-chart"></i> <span>RedBip</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <!-- /menu profile quick info -->

                    <br />

                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <ul class="nav side-menu">
                                <li>
                                    <a href="/home/index" data-langkeyword="menudashboard"><i class="fa fa-home"></i> Dashboard <span></span></a>

                                </li>
                                <li>
                                    <a data-langkeyword="menudevices"><i class="fa fa-sitemap"></i> Cihazlarım <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>
                                            <a href="/home/Device_List" data-langkeyword="submenudevicelist">Cihaz Listesi</a>
                                        </li>

                                        <li>
                                            <a href="/home/device_logs" data-langkeyword="submenudevicelogs">Cihaz Bildirimler</a>
                                        </li>
                                        <li>
                                            <a href="/home/New_Device" data-langkeyword="submenunewdevice">Yeni Cihaz Kaydet</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="">
                                    <a data-langkeyword="menusettings"><i class="fa fa-edit"></i> Ayarlar <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none;">
                                        <li><a href="/home/OptionsDashboad" data-langkeyword="submenuthreshold">Eşik Ayarları</a></li>
                                        <li><a href="/home/OptionsDashboard_Notification" data-langkeyword="submenunotifications">Bildirim Seçenekleri</a></li>
                                        <li><a href="/home/OptionsDashboard_Notification2" data-langkeyword="submenuphoneconfig">Telefon Konfigrasyonu</a></li>


                                    </ul>
                                </li>

                            </ul>
                        </div>


                    </div>
                    <!-- sidebar menu -->
                    <!-- menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Login" href="/home/Register" data-langkeyword="leftmenulogin">
                            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                        </a>

                        <a data-toggle="tooltip" data-placement="top" title="Logout" href="/home/logout" data-langkeyword="leftmenulogout">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- menu footer buttons -->
                </div>
            </div>


            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        <span></span>


                    </div>

                    <nav class="nav navbar-nav">
                        <ul class=" navbar-right">
                            <li class="nav-item dropdown open" style="padding-left: 15px;">
                                <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">

                                </a>
                                <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/home/profile" data-langkeyword="righttopprofile"> Kullanıcı Bilgilerim</a>

                                    <a class="dropdown-item" href="/home/logout" data-langkeyword="righttoplogout"><i class="fa fa-sign-out pull-right"></i> Çıkış</a>
                                </div>
                            </li>

                            <li role="presentation" class="nav-item dropdown open">
                                <a href="javascript:;" class="dropdown-toggle info-number" id="navbarDropdown1" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-envelope-o"></i>
                                    <span id="msgcount" class="badge bg-green"></span>
                                </a>
                                <ul class="dropdown-menu list-unstyled msg_list" role="menu" aria-labelledby="navbarDropdown1" id="msgBoxTop">
                                </ul>

                            </li>
                        </ul>
                    </nav>
                </div>

            </div>

            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 ">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2 data-langkeyword="deviceedit">Cihaz Özelleştirme</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li>
                                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>

                                    <li>
                                        <a class="close-link"><i class="fa fa-close"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <br />
                                <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                                    <div class="item form-group">
                                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">
                                            Mac ID
                                        </label>
                                        <div class="col-md-6 col-sm-6 ">
                                            <input type="text" id="DeviceMac" name="last-name" class="form-control" disabled="disabled">
                                        </div>
                                    </div>

                                    <div class="item form-group">
                                        <label data-langkeyword="devicename" class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">
                                            Cihaz Adı
                                        </label>
                                        <div class="col-md-6 col-sm-6 ">
                                            <input type="text" id="DeviceName" required="required" class="form-control">
                                        </div>
                                    </div>
                                    <div class="ln_solid"></div>
                                    <div class="item form-group">
                                        <div class="col-md-6 col-sm-6 offset-md-5">

                                            <button type="submit" class="btn btn-success" id="save" data-langkeyword="savebutton">Kaydet</button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2 data-langkeyword="xpaneldevices">Cihazlar</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li>
                                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>

                                    <li>
                                        <a class="close-link"><i class="fa fa-close"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>

                            <div class="x_content">



                                <div class="table-responsive">
                                    <table class="table table-striped jambo_table bulk_action" id="Tdata">
                                        <thead>
                                            <tr class="headings">

                                                <th class="column-title" data-langkeyword="tabledeviceid">Cihaz ID </th>
                                                <th class="column-title" data-langkeyword="tabledevicename">Cihaz Adı </th>
                                                <th class="column-title" data-langkeyword="tablecreatetime">Oluşturma Tarihi </th>
                                                <th class="column-title" data-langkeyword="tablemacid">Mac ID </th>

                                                <th class="column-title no-link last">
                                                    <span class="nobr" data-langkeyword="tableaction">Aksiyon</span>
                                                </th>
                                                <th class="bulk-actions" colspan="7">
                                                    <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                                </th>
                                            </tr>
                                        </thead>

                                        <tbody id="TBdata">
                                        </tbody>
                                    </table>
                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>



            <!-- /page content -->



        </div>
    </div>

    <!-- /page content -->
    <!-- footer content -->
    <footer>
        <div class="pull-right">
            <a href="http://fosoft.com.tr/">Fosoft</a> ServerViewer Application All Rights Reserved 2019
        </div>
        <div class="clearfix"></div>
    </footer>
    <!-- /footer content -->
    <!-- jQuery -->
    <script src="../vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="../vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- FastClick -->
    <script src="../vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="../vendors/nprogress/nprogress.js"></script>
    <!-- iCheck -->
    <script src="../vendors/iCheck/icheck.min.js"></script>
    <!-- Datatables -->
    <script src="../vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="../vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="../vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="../vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="../vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="../vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="../vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="../vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="../vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="../vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="../vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="../vendors/jszip/dist/jszip.min.js"></script>
    <script src="../vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="../vendors/pdfmake/build/vfs_fonts.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="../build/js/custom.min.js"></script>

    <!-- Initialize datetimepicker -->
    <script type="text/javascript">
        var ids;
        $(document).ready(function () {
            var a = document.getElementById("DeviceName").value;
            //deviceName
            $.ajax({

                type: 'POST',
                url: '/Api/DeviceConfig',
                dataType: 'json',
                data: { 'Macid': ids, 'CihazAd': a },
                success: function (result) {
                    $('#DeviceName').val(result[0].name);
                    $("#DeviceMac").val(result[0].macID);

                    //APPEND HTML
                    for (var i = 0; i < result.length; i++) {
                        $('#TBdata').append('<tr><td class=" ">' + result[i].id + '</td> <td class=" ">' + result[i].name + '</td> <td class=" ">' + result[i].createTime + '</td> <td class=" ">' + result[i].macID + '</td> <td class="last deviceviewlink" data-link="' + result[i].macID + '"> <a href="#"  ">Düzenle</a></td> </tr>');

                    }
                    //message box append
                    $.ajax({

                        type: 'POST',
                        url: '/Api/Select_Notify',
                        dataType: 'json',
                        data: { 'Macid': ids },
                        success: function (result) {
                            for (var i = 0; i < result.length; i++) {
                                $('#msgBoxTop').append(' <li class="nav-item"><a class="dropdown-item"><span><span>' + result[i].name + '</span><span class="time">' + result[i].createTime + '</span></span><span  class="message">' + result[i].notificationMessage + '</span></a></li>');

                            }
                            $('#msgBoxTop').append('<li class="nav-item"><div class="text-center"><a class="dropdown-item" href="/home/Device_Logs"><strong>See All Alerts</strong><i class="fa fa-angle-right"></i></a></div></li>');
                            $('#msgcount').append(result.length);
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        },
                        error: function (response) {
                            alert(response.responseText);
                        }
                    });
                    //view actions
                    //tablodaki mac ID yi back end e gönderebiliyoruz. Diğer servislerde sorguya Macid düzgün atılabilidği zaman SQl sorgusuna macId KONtrolü ekle.
                    $(".deviceviewlink").on('click', function (event) {
                        ids = $(this).data('link');
                        $.ajax({
                            type: 'POST',
                            url: '/Api/DeviceList_Eject',
                            data: { 'Macid': ids },
                            success: function (result) {
                                $("#DeviceName").val('');
                                $("#DeviceMac").val('');
                                $("#DeviceName").val(result[0].name);
                                $("#DeviceMac").val(result[0].macID);
                            }
                            ,
                            failure: function (response) {
                                alert(response.responseText);
                            },
                            error: function (response) {
                                alert(response.responseText);
                            }

                        }
                        );


                    });

                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }

            });





        });




        //save do db //bitmedi. sorgusu değişecek mac ID ye göre
        $("#save").click(function (event) {
            var data = $("#DeviceName").val();
            var mac = $("#DeviceMac").val();
            ids =

                $.ajax({
                    type: 'POST',
                    url: '/Api/Devices',
                    data: { 'CihazAd': data, 'Macid': mac },
                    success: function (result) {
                        window.alert("Kayıt Başarılı")
                    }
                    ,
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }

                }
                );


        });

            //menu toggler changer trigger.
            //$("#menu_toggle").on("click", function (event) {
            //    console.log("heree");
            //    $('#menu_toggle').removeClass('fa fa-bars').addClass('fa fa-arrows');
            //    //$('#menu_toggle').attr("fa fa-bars","fa fa-arrows")


            //});







    </script>
</body>
</html>
