
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>RedBip! | </title>

    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="../vendors/animate.css/animate.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">
</head>

<body class="login">
    <div class="top_nav">
        <div class="nav_menu">
            <div class="nav toggle">
                <a id="menu_toggle" href="/home/index"><i class="fa fa-pie-chart"></i></a>
                <span></span>


            </div>

            <nav class="nav navbar-nav">
                <ul class=" navbar-right">
                    <li class="nav-item dropdown open" style="padding-left: 15px;">

                    </li>


                </ul>
            </nav>
        </div>

    </div>
    <div class="row  justify-content-center">
        <div class="btn-group " role="group" aria-label="Button group with nested dropdown">


        </div>
    </div>
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>

        <div class="login_wrapper">

            <section class="login_content">
                <form>
                    <h1 data-langkeyword="forgotmypass">Forgot My Password</h1>
                    <div>
                        <input type="text" class="form-control" placeholder="Kullanıcı Adı" required="" id="da1" data-langkeyword="username" />
                    </div>
                    <div>
                        <input type="text" class="form-control" placeholder="Email" required="" id="da2" data-langkeyword="formemail" />
                    </div>
                    <div>
                        <a type="button" class="btn btn-success" href="#" id="Set" data-langkeyword="requestbutton">Gönder</a>

                    </div>

                    <div class="clearfix"></div>

                    <div class="separator">


                        <div class="clearfix"></div>
                        <br />

                        <div>
                            <h1> Red Bip!</h1>
                            <p>Fosoft © 2019 All Rights Reserved.</p>
                        </div>
                    </div>
                </form>
            </section>


        </div>
    </div>

    <script>
        function phoneFormat(input) {
            // Strip all characters from the input except digits
            input = input.replace(/\D/g, '');

            // Trim the remaining input to ten characters, to preserve phone number format
            input = input.substring(0, 10);

            // Based upon the length of the string, we add formatting as necessary
            var size = input.length;
            if (size == 0) {
                input = input;
            } else if (size < 4) {
                input = '(' + input;
            } else if (size < 7) {
                input = '(' + input.substring(0, 3) + ') ' + input.substring(3, 6);
            } else {
                input = '(' + input.substring(0, 3) + ') ' + input.substring(3, 6) + ' - ' + input.substring(6, 10);
            }
            return input;
        }
        document.getElementById('PhoneNumber').addEventListener('keyup', function (evt) {

            var PhoneNumber = document.getElementById('PhoneNumber');
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            PhoneNumber.value = phoneFormat(PhoneNumber.value);
        });

    </script>
    <!-- jQuery -->
    <script src="../vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="../vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- FastClick -->
    <script src="../vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="../vendors/nprogress/nprogress.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="../vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="../vendors/iCheck/icheck.min.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="../vendors/moment/min/moment.min.js"></script>
    <script src="../vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap-wysiwyg -->
    <script src="../vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
    <script src="../vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
    <script src="../vendors/google-code-prettify/src/prettify.js"></script>
    <!-- jQuery Tags Input -->
    <script src="../vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
    <!-- Switchery -->
    <script src="../vendors/switchery/dist/switchery.min.js"></script>
    <!-- Select2 -->
    <script src="../vendors/select2/dist/js/select2.full.min.js"></script>
    <!-- Parsley -->
    <script src="../vendors/parsleyjs/dist/parsley.min.js"></script>
    <!-- Autosize -->
    <script src="../vendors/autosize/dist/autosize.min.js"></script>
    <!-- jQuery autocomplete -->
    <script src="../vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
    <!-- starrr -->
    <script src="../vendors/starrr/dist/starrr.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="../build/js/custom.min.js"></script>

    <script src="../language.js"></script>
    <script type="text/javascript">

        var username;
        var email;
        var mac;
        var lng;
        var tcase = "temp";
        var hcase = "mois";
        var vallang = getCookie("langoption");
        var SetLang = function () {
             lng = "TR";
            if (vallang == "ENG") {
                lng = "ENG";
                console.log("notundefined");
            }
            if (vallang == "TR") {
                lng = "TR";
                console.log("TRSS");
            }
            return function () {

                //--<Forget My Pass
                $("*[data-langkeyword='productkeyinput']").html(lang["productkeyinput"][lng]);
                $("*[data-langkeyword='requestbutton']").html(lang["requestbutton"][lng]);
                $("*[data-langkeyword='forgotmypass']").html(lang["forgotmypass"][lng]);
                $("*[data-langkeyword='username']").each(function (ev) {
                    // html(lang["username"][lng]).
                    $(this).attr("placeholder", lang["username"][lng])
                });
                //---!Forget MY Pass


            };
        }();

        $(document).ready(function () {
            SetLang();
        });

        function getCookie(cname) {
            var name = cname + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var ca = decodedCookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }

        $("#Set").click(function (event) {
            mac = 'mms223354ss';
            console.log("ssssgood");
            username = $('#da1').val();
            email = $('#da2').val();

            $.ajax({
                type: 'POST',
                url: '/Api/Reset_Password',
                data: { 'username': username, 'email': email, 'mac': mac },
                success: function (result) {
                    if (result.length > 0 && result[0].username == username && result[0].email == email && username != "" && email != "") {
                        window.alert("Mail Gönderildi, Lütfen Kontrol Ediniz.");
                    }
                    else {
                        window.alert("Bilgileriniz Yanlış Tekrar Deneyiniz.");
                    }
                }
                ,
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }

            }
            );
        });


    </script>
</body>
</html>




