
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Gentelella Alela! | </title>

    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="../vendors/animate.css/animate.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">
</head>

<body class="login">
    <div class="top_nav">
        <div class="nav_menu">
            <div class="nav toggle">
                <a id="menu_toggle" href="/home/index"><i class="fa fa-pie-chart"></i></a>
                <span></span>


            </div>

            <nav class="nav navbar-nav">
                <ul class=" navbar-right">
                    <li class="nav-item dropdown open" style="padding-left: 15px;">
                        <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">

                        </a>
                        <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/home/profile"> Kullanıcı Bilgilerim</a>

                            <a class="dropdown-item" href="/home/logout"><i class="fa fa-sign-out pull-right"></i> Çıkış</a>
                        </div>
                    </li>


                </ul>
            </nav>
        </div>

    </div>
    <div class="row  justify-content-center">
        <div class="btn-group " role="group" aria-label="Button group with nested dropdown">


        </div>
    </div>
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>

        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    <form>
                        <h1>Server Viever</h1>
                        <div>
                            <input type="text" class="form-control" placeholder="Kullanıcı Adı" required="" id="cr1" />
                        </div>
                        <div>
                            <input type="password" class="form-control" placeholder="Parola" required="" id="cr2" />
                        </div>
                        <div>
                            <a type="button" class="btn btn-success" href="#" id="Set">Oturum Aç</a>
                            <a class="reset_pass" href="/home/Forget_pass" id="reset1">Parolamı Unuttum</a>
                        </div>

                        <div class="clearfix"></div>

                        <div class="separator">
                            <p class="change_link">
                                Sitede Yenimisin?
                                <a href="#signup" class="to_register"> Yeni Hesap Oluştur </a>
                            </p>

                            <div class="clearfix"></div>
                            <br />

                            <div>
                                <h1> Server Viewer!</h1>
                                <p>Fosoft © 2019 All Rights Reserved.</p>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>

</body>
</html>




