<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>RedBip! </title>

    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="../vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="../vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">


    <!-- Ion.RangeSlider -->
    <link href="../vendors/normalize-css/normalize.css" rel="stylesheet">
    <link href="../vendors/ion.rangeSlider/css/ion.rangeSlider.css" rel="stylesheet">
    <link href="../vendors/ion.rangeSlider/css/ion.rangeSlider.skinFlat.css" rel="stylesheet">

</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0">
                        <a href="/home/index" class="site_title"><i class="fa fa-pie-chart"></i> <span>RedBip</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <!-- /menu profile quick info -->

                    <br />

                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <ul class="nav side-menu">
                                <li>
                                    <a href="/home/index" data-langkeyword="menudashboard"><i class="fa fa-home"></i> Dashboard <span></span></a>

                                </li>
                                <li>
                                    <a data-langkeyword="menudevices"><i class="fa fa-sitemap"></i> Cihazlarım <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>
                                            <a href="/home/Device_List" data-langkeyword="submenudevicelist">Cihaz Listesi</a>
                                        </li>

                                        <li>
                                            <a href="/home/device_logs" data-langkeyword="submenudevicelogs">Cihaz Bildirimler</a>
                                        </li>
                                        <li>
                                            <a href="/home/New_Device" data-langkeyword="submenunewdevice">Yeni Cihaz Kaydet</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="">
                                    <a data-langkeyword="menusettings"><i class="fa fa-edit"></i> Ayarlar <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none;">
                                        <li><a href="/home/OptionsDashboad" data-langkeyword="submenuthreshold">Eşik Ayarları</a></li>
                                        <li><a href="/home/OptionsDashboard_Notification" data-langkeyword="submenunotifications">Bildirim Seçenekleri</a></li>
                                        <li><a href="/home/OptionsDashboard_Notification2" data-langkeyword="submenuphoneconfig">Telefon Konfigrasyonu</a></li>


                                    </ul>
                                </li>

                            </ul>
                        </div>


                    </div>
                    <!-- sidebar menu -->
                    <!-- menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-langkeyword="leftmenulogin" data-toggle="tooltip" data-placement="top" title="Login" href="/home/Register">
                            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                        </a>

                        <a data-langkeyword="leftmenulogout" data-toggle="tooltip" data-placement="top" title="Logout" href="/home/logout">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        <span></span>


                    </div>

                    <nav class="nav navbar-nav">
                        <ul class=" navbar-right">
                            <li class="nav-item dropdown open" style="padding-left: 15px;">
                                <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">

                                </a>
                                <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                                    <a data-langkeyword="righttopprofile" class="dropdown-item" href="/home/profile"> Kullanıcı Bilgilerim</a>

                                    <a data-langkeyword="righttoplogout" class="dropdown-item" href="/home/logout"><i class="fa fa-sign-out pull-right"></i> Çıkış</a>
                                </div>
                            </li>

                            <li role="presentation" class="nav-item dropdown open">
                                <a href="javascript:;" class="dropdown-toggle info-number" id="navbarDropdown1" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-envelope-o"></i>
                                    <span id="msgcount" class="badge bg-green"></span>
                                </a>
                                <ul class="dropdown-menu list-unstyled msg_list" role="menu" aria-labelledby="navbarDropdown1" id="msgBoxTop">
                                </ul>

                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="row  justify-content-center">
                <div class="btn-group " role="group" aria-label="Button group with nested dropdown">
                    <div class="btn-group" role="group">
                        <button data-langkeyword="dropdowndevicelist" id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Cihazlar
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" id="mnav">
                        </div>
                    </div>

                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->

            <div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left" id="renamer">
                            <h3></h3>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <div class="">
                    </div>
                    <div class="clearfix"></div>
                    <div class="">
                    </div>

                    <!-- form grid slider 1 -->
                    <div class="x_panel" style="">

                        <div class="x_content">
                            <div class="row grid_slider">

                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <p data-langkeyword="delaytempup">Isı Yüksekliği Bildirim Sıklığı</p>
                                    <input type="text" id="range" value="" name="DelayTempUp" />
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <p data-langkeyword="delaytempdown">Isı Düşüklüğü Bildirim Sıklığı</p>
                                    <input type="text" id="range2" value="" name="DelayTempDown" />
                                </div>

                            </div>

                        </div>
                    </div>

                    <!------form grid slider 1 -->

                    <!-- form grid slider 2 -->
                    <div class="x_panel" style="">

                        <div class="x_content">
                            <div class="row grid_slider">

                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <p data-langkeyword="delaymoisup">Nem Yüksekliği Bildirim Sıklığı</p>
                                    <input type="text" id="range3" value="" name="DelayMoisUp" />
                                </div>
                                

                            </div>

                        </div>
                    </div>
                    <!-- /form grid slider 2 -->
                    <!-- Start to do list -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2 data-langkeyword="temprise">Isı Yüksekliği <small data-langkeyword="notificationactions">Aksiyonlar</small></h2>
                                <ul class="nav navbar-right panel_toolbox">

                                    <li>
                                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>


                                    <li>
                                        <a class="close-link"><i class="fa fa-close"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">

                                <div class="">
                                    <ul class="to_do">
                                        <li>
                                            <p>
                                                <input data-type="email1" type="checkbox" id="e1" > <a data-langkeyword="emailnotify">Email Bildirimi</a>
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                <input data-type="mesaj1" type="checkbox" id="m1" > <a data-langkeyword="messagenotify">Mesaj Bildirimi</a>
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                <input data-type="IVR1" type="checkbox" id="I1" > <a data-langkeyword="ivrnotify">IVR desteği</a>
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                <input data-type="CAGRI1" type="checkbox" id="c1"> <a data-langkeyword="callcenternotify">Çağrı Merkezi Desteği</a>
                                            </p>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2 data-langkeyword="tempfall">Isı Düşüklüğü <small data-langkeyword="notificationactions">Aksiyonlar</small></h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li>
                                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>

                                    <li>
                                        <a class="close-link"><i class="fa fa-close"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">

                                <div class="">
                                    <ul class="to_do">
                                        <li>
                                            <p>
                                                <input data-type="email2" type="checkbox" id="e2"> <a data-langkeyword="emailnotify">Email Bildirimi</a>
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                <input data-type="mesaj2" type="checkbox" id="m2" > <a data-langkeyword="messagenotify">Mesaj Bildirimi</a>
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                <input data-type="IVR2" type="checkbox" id="I2" > <a data-langkeyword="ivrnotify">IVR desteği</a>
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                <input data-type="CAGRI2" type="checkbox" id="c2"><a data-langkeyword="callcenternotify">Çağrı Merkezi Desteği</a>
                                            </p>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2 data-langkeyword="moisrise">Nem Yüksekliği <small data-langkeyword="notificationactions">Aksiyonlar</small></h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li>
                                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>

                                    <li>
                                        <a class="close-link"><i class="fa fa-close"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">

                                <div class="">
                                    <ul class="to_do">
                                        <li>
                                            <p>
                                                <input data-type="email3" type="checkbox" id="e3" > <a data-langkeyword="emailnotify">Email Bildirimi</a>
                                            </p>
                                        </li>

                                        <li>
                                            <p>
                                                <input data-type="mesaj3" type="checkbox" id="m3"> <a data-langkeyword="messagenotify">Mesaj Bildirimi</a>
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                <input data-type="IVR3" type="checkbox" id="I3" > <a data-langkeyword="ivrnotify">IVR desteği</a>
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                <input data-type="CAGRI3" type="checkbox" id="c3"> <a data-langkeyword="callcenternotify">Çağrı Merkezi Desteği</a>
                                            </p>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2 data-langkeyword="moisfall">Nem Düşüklüğü <small data-langkeyword="notificationactions">Aksiyonlar</small></h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li>
                                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>

                                    <li>
                                        <a class="close-link"><i class="fa fa-close"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">

                                <div class="">
                                    <ul class="to_do">
                                        <li>
                                            <p>
                                                <input data-type="email4" type="checkbox" id="e4"><a data-langkeyword="emailnotify">Email Bildirimi</a>

                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                <input data-type="mesaj4" type="checkbox" id="m4"> <a data-langkeyword="messagenotify">Mesaj Bildirimi</a>
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                <input data-type="IVR4" type="checkbox" id="I4" > <a data-langkeyword="ivrnotify">IVR desteği</a>
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                <input data-type="CAGRI4" type="checkbox" id="c4"> <a data-langkeyword="callcenternotify">Çağrı Merkezi Desteği</a>
                                            </p>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End to do list -->

                </div>
                <div class="clearfix"></div>
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    <a href="http://fosoft.com.tr/">Fosoft</a> ServerViewer Application All Rights Reserved 2019
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    <div id="custom_notifications" class="custom-notifications dsp_none">
        <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
        </ul>
        <div class="clearfix"></div>
        <div id="notif-group" class="tabbed_notifications"></div>
    </div>

    <!-- jQuery -->
    <script src="../vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="../vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- FastClick -->
    <script src="../vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="../vendors/nprogress/nprogress.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="../vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="../vendors/iCheck/icheck.min.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="../vendors/moment/min/moment.min.js"></script>
    <script src="../build/js/custom.min.js"></script>
    <script src="../language.js"></script>
    <!-- Ion.RangeSlider -->
    <script src="../vendors/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>

    <script type="text/javascript">
        var ids;
        var lng;
        var tcase = "temp";
        var hcase = "mois";
        var vallang = getCookie("langoption");
        var SetLang = function () {

            lng = "TR";
            if (vallang == "ENG") {
                lng = "ENG";
                console.log("notundefined");
            }
            if (vallang == "TR") {
                lng = "TR";
                console.log("TRSS");
            }
            return function () {


                //<---- master page content
                $("*[data-langkeyword='dropdowndevicelist']").html(lang["dropdowndevicelist"][lng]);
                $("*[data-langkeyword='menudashboard']").html(lang["menudashboard"][lng]);
                $("*[data-langkeyword='menudevices']").html(lang["menudevices"][lng]);
                $("*[data-langkeyword='submenudevicelist']").html(lang["submenudevicelist"][lng]);
                $("*[data-langkeyword='submenudevicelogs']").html(lang["submenudevicelogs"][lng]);
                $("*[data-langkeyword='submenunewdevice']").html(lang["submenunewdevice"][lng]);
                $("*[data-langkeyword='menusettings']").html(lang["menusettings"][lng]);
                $("*[data-langkeyword='submenuthreshold']").html(lang["submenuthreshold"][lng]);
                $("*[data-langkeyword='submenunotifications']").html(lang["submenunotifications"][lng]);
                $("*[data-langkeyword='submenuphoneconfig']").html(lang["submenuphoneconfig"][lng]);
                $("*[data-langkeyword='leftmenulogin']").each(function (ev) {
                    $(this).attr("title", lang["leftmenulogin"][lng])
                    $(this).attr("data-toggle", "tooltip");
                    $(this).attr("data-placement", "top");
                });
                $("*[data-langkeyword='leftmenulogout']").each(function (ev) {
                    $(this).attr("title", lang["leftmenulogout"][lng])
                });
                $("*[data-langkeyword='righttopprofile']").html(lang["righttopprofile"][lng]);
                $("*[data-langkeyword='righttoplogout']").html(lang["righttoplogout"][lng]);
                //--!> master page content

                //---<Notifications
                $("*[data-langkeyword='delaytempup']").html(lang["delaytempup"][lng]);
                $("*[data-langkeyword='delaytempdown']").html(lang["delaytempdown"][lng]);
                $("*[data-langkeyword='delaymoisup']").html(lang["delaymoisup"][lng]);
                $("*[data-langkeyword='delaymoisdown']").html(lang["delaymoisdown"][lng]);
                $("*[data-langkeyword='temprise']").html(lang["temprise"][lng]);
                $("*[data-langkeyword='tempfall']").html(lang["tempfall"][lng]);
                $("*[data-langkeyword='moisrise']").html(lang["moisrise"][lng]);
                $("*[data-langkeyword='moisfall']").html(lang["moisfall"][lng]);
                $("*[data-langkeyword='notificationactions']").html(lang["notificationactions"][lng]);

                $("*[data-langkeyword='emailnotify']").html(lang["emailnotify"][lng]);
                $("*[data-langkeyword='messagenotify']").html(lang["messagenotify"][lng]);
                $("*[data-langkeyword='ivrnotify']").html(lang["ivrnotify"][lng]);
                $("*[data-langkeyword='callcenternotify']").html(lang["callcenternotify"][lng]);
                //---!Notifications


            };
        }();


        $(document).ready(function () {
            SetLang();
            $.ajax({

                type: 'POST',
                url: '/Api/DeviceConfig',
                dataType: 'json',
                data: { 'Macid': ids },
                success: function (result) {
                    $('#renamer').append('<h3>' + lang["device"][lng] + ' : ' + result[0].name + '</h3>');
                    for (var i = 0; i < result.length; i++) {
                        $("#mnav").append('<a class="dropdown-item deviceitem" href="#" data-macid="' + result[i].macID + '" id="Device' + (i + 1) + '">' + result[i].name + ': ' + result[i].macID + '</a>');

                    }

                    //message box append
                    $.ajax({

                        type: 'POST',
                        url: '/Api/Select_Notify',
                        dataType: 'json',
                        data: { 'Macid': ids },
                        success: function (result) {
                            for (var i = 0; i < result.length; i++) {
                                $('#msgBoxTop').append(' <li class="nav-item"><a class="dropdown-item"><span><span class="time">' + result[i].createTime + '</span><br><span>' + result[i].name + '</span></span><span  class="message">' + result[i].notificationMessage + '</span></a></li>');

                            }
                            $('#msgBoxTop').append('<li class="nav-item"><div class="text-center"><a class="dropdown-item" href="/home/Device_Logs"><strong>See All Alerts</strong><i class="fa fa-angle-right"></i></a></div></li>');
                            $('#msgcount').append(result.length);
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        },
                        error: function (response) {
                            alert(response.responseText);
                        }
                    });

                    $('.deviceitem').on('click', function (event) {
                        ids = $(this).data('macid');
                        $('#renamer h3').remove();
                        $('#renamer').append('<h3>' + lang["device"][lng] + ' : ' + result[0].name + '</h3>');



                        $("#range").ionRangeSlider();
                        var slider = $("#range").data("ionRangeSlider");
                        $("#range2").ionRangeSlider();
                        var slider2 = $("#range2").data("ionRangeSlider");
                        $("#range3").ionRangeSlider();
                        var slider3 = $("#range3").data("ionRangeSlider");
                        //$("#range4").ionRangeSlider();
                        //var slider4 = $("#range4").data("ionRangeSlider");

                        $.ajax({
                            type: 'POST',
                            url: '/Api/GetDelay',
                            data: { 'Macid': ids },
                            dataType: "json",
                            success: function (result) {

                                slider.update({
                                    from: result[0].delayTempUp
                                });

                            },
                            failure: function (response) {
                                alert(response.responseText);
                            },
                            error: function (response) {
                                alert(response.responseText);
                            }

                        });
                        slider.update();
                        //slider 2
                        $.ajax({
                            type: 'POST',
                            url: '/Api/GetDelay',
                            data: { 'Macid': ids },
                            dataType: "json",
                            success: function (result) {

                                slider2.update({
                                    from: result[0].delayTempDown
                                });

                            },
                            failure: function (response) {
                                alert(response.responseText);
                            },
                            error: function (response) {
                                alert(response.responseText);
                            }

                        });
                        slider.update();
                        //slider 3
                        $.ajax({
                            type: 'POST',
                            url: '/Api/GetDelay',
                            data: { 'Macid': ids },
                            dataType: "json",
                            success: function (result) {

                                slider3.update({
                                    from: result[0].delayMoisUp
                                });

                            },
                            failure: function (response) {
                                alert(response.responseText);
                            },
                            error: function (response) {
                                alert(response.responseText);
                            }

                        });
                        slider3.update();
                        //slider 4
                        //$.ajax({
                        //    type: 'POST',
                        //    url: '/Api/GetDelay',
                        //    data: { 'Macid': ids },
                        //    dataType: "json",
                        //    success: function (result) {

                        //        slider4.update({
                        //            from: result[0].delayMoisDown
                        //        });

                        //    },
                        //    failure: function (response) {
                        //        alert(response.responseText);
                        //    },
                        //    error: function (response) {
                        //        alert(response.responseText);
                        //    }

                        //});
                        //slider4.update();

                        $.ajax({
                            type: 'POST',
                            url: '/Api/Mails',
                            data: { 'Macid': ids },
                            dataType: "json",
                            success: function (result) {
                                if (Number(result[0].email_TempUp) == 1) {
                                    $('#e1').prop('checked', true);
                                }
                                else {
                                    $('#e1').prop('checked', false);
                                }
                                if (Number(result[0].email_TempDown) == 1) {
                                    $('#e2').prop('checked', true);
                                }
                                else {
                                    $('#e2').prop('checked', false);
                                }
                                if (Number(result[0].email_MoisUp) == 1) {
                                    $('#e3').prop('checked', true);
                                }
                                else {
                                    $('#e3').prop('checked', false);
                                }
                                if (Number(result[0].email_MoisDown) == 1) {
                                    $('#e4').prop('checked', true);
                                }
                                else {
                                    $('#e4').prop('checked', false);
                                }

                                //msg
                                if (Number(result[0].msg_TempUp) == 1) {
                                    $('#m1').prop('checked', true);
                                }
                                else {
                                    $('#m1').prop('checked', false);
                                }
                                if (Number(result[0].msg_TempDown) == 1) {
                                    $('#m2').prop('checked', true);
                                }
                                else {
                                    $('#m2').prop('checked', false);
                                }
                                if (Number(result[0].msg_MoisUp) == 1) {
                                    $('#m3').prop('checked', true);
                                }
                                else {
                                    $('#m3').prop('checked', false);
                                }
                                if (Number(result[0].msg_MoisDown) == 1) {
                                    $('#m4').prop('checked', true);
                                }
                                else {
                                    $('#m4').prop('checked', false);
                                }
                                //

                                if (Number(result[0].ivR_TempUp) == 1) {
                                    $('#I1').prop('checked', true);
                                }
                                else {
                                    $('#I1').prop('checked', false);
                                }
                                if (Number(result[0].ivR_TempDown) == 1) {
                                    $('#I2').prop('checked', true);
                                }
                                else {
                                    $('#I2').prop('checked', false);
                                }
                                if (Number(result[0].ivR_MoisUp) == 1) {
                                    $('#I3').prop('checked', true);
                                }
                                else {
                                    $('#I3').prop('checked', false);
                                }
                                if (Number(result[0].ivR_MoisDown) == 1) {
                                    $('#I4').prop('checked', true);
                                }
                                else {
                                    $('#I4').prop('checked', false);
                                }
                                //call
                                if (Number(result[0].call_TempUp) == 1) {
                                    $('#c1').prop('checked', true);
                                }
                                else {
                                    $('#c1').prop('checked', false);
                                }
                                if (Number(result[0].call_TempDown) == 1) {
                                    $('#c2').prop('checked', true);
                                }
                                else {
                                    $('#c2').prop('checked', false);
                                }
                                if (Number(result[0].call_MoisUp) == 1) {
                                    $('#c3').prop('checked', true);
                                }
                                else {
                                    $('#c3').prop('checked', false);
                                }
                                if (Number(result[0].call_MoisDown) == 1) {
                                    $('#c4').prop('checked', true);
                                }
                                else {
                                    $('#c4').prop('checked', false);
                                }


                            }
                            ,
                            failure: function (response) {
                                alert(response.responseText);
                            },
                            error: function (response) {
                                alert(response.responseText);
                            }

                        }
                        );

                    });

                    $("#mnav :first-child").trigger('click');

                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }

            });
        });

        function getCookie(cname) {
            var name = cname + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var ca = decodedCookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }

        var delaytext = [];
        var timetickertext = [];
        delaytext.push([lang["gecikmetext"][lng]]);
        timetickertext.push([lang["timeticker"][lng]]);
        $("#range").ionRangeSlider({

            type: "single",
            min: 5,
            max: 120,
            step: 5,
            grid: true,
            max_postfix: "",
            prefix: delaytext,
            postfix: timetickertext,
            onStart: function (data) {
                // Called right after range slider instance initialised
                //GetDelay
                //data.min=10;


            },
            onChange: function (data) {
                // Called every time handle position is changed
                var nameofdd = $('#range').attr("name");
                var position = data.from;
                console.log("name:" + nameofdd);
                $.ajax({
                    type: 'POST',
                    url: '/Api/SetDelay',
                    data: { 'Macid': ids, 'delayValue': position, 'type': nameofdd },
                    dataType: "json",
                    success: function (result) {

                    }
                    ,
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }

                });

            },
            onUpdate: function (data) {
                // Called then slider is changed using Update public method

            },
            onFinish: function (data) {

            }

        });
        $("#range2").ionRangeSlider({

            type: "single",
            min: 5,
            max: 120,
            step: 5,
            grid: true,
            max_postfix: "",
            prefix: delaytext,
            postfix: timetickertext,
            onStart: function (data) {
                // Called right after range slider instance initialised
            },
            onChange: function (data) {
                // Called every time handle position is changed
                var nameofdd = $('#range2').attr("name");
                var position = data.from;
                $.ajax({
                    type: 'POST',
                    url: '/Api/SetDelay',
                    data: { 'Macid': ids, 'delayValue': position, 'type': nameofdd },
                    dataType: "json",
                    success: function (result) {

                    }
                    ,
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }

                });
                console.log("what we need: " + data.from);
            },

        });
        $("#range3").ionRangeSlider({

            type: "single",
            min: 5,
            max: 120,
            step: 5,
            grid: true,
            max_postfix: "",
            prefix: delaytext,
            postfix: timetickertext,
            onStart: function (data) {
                // Called right after range slider instance initialised
            },
            onChange: function (data) {
                // Called every time handle position is changed
                var nameofdd = $('#range3').attr("name");
                var position = data.from;
                $.ajax({
                    type: 'POST',
                    url: '/Api/SetDelay',
                    data: { 'Macid': ids, 'delayValue': position, 'type': nameofdd },
                    dataType: "json",
                    success: function (result) {

                    }
                    ,
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }

                });
                console.log("what we need: " + data.from);
            },

        });
        //$("#range4").ionRangeSlider({

        //    type: "single",
        //    min: 5,
        //    max: 120,
        //    step: 5,
        //    grid: true,
        //    max_postfix: "",
        //    prefix: "Gecikme: ",
        //    postfix: " Dakika",
        //    onStart: function (data) {
        //        // Called right after range slider instance initialised
        //    },
        //    onChange: function (data) {
        //        // Called every time handle position is changed
        //        var nameofdd = $('#range4').attr("name");
        //        var position = data.from;
        //        $.ajax({
        //            type: 'POST',
        //            url: '/Api/SetDelay',
        //            data: { 'Macid': ids, 'delayValue': position, 'type': nameofdd },
        //            dataType: "json",
        //            success: function (result) {

        //            }
        //            ,
        //            failure: function (response) {
        //                alert(response.responseText);
        //            },
        //            error: function (response) {
        //                alert(response.responseText);
        //            }

        //        });
        //        console.log("what we need: " + data.from);
        //    },

        //});


        $('#e1, #e2 ,#e3,#e4,#m1,#m2,#m3,#m4,#I1,#I2,#I3,#I4,#c1,#c2,#c3,#c4').change(function (event) {

            var isChecked = $(this).prop("checked");
            var type = $(this).data('type');
            $.ajax({
                type: 'POST',
                url: '/Api/Mails',
                data: { 'EmailNotification': isChecked, 'CheckType': type, 'Macid': ids },
                dataType: "json",
                success: function (result) {

                }
                ,
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }

            }
            );

        });


    </script>
</body>
</html>

