<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>RedBip! </title>

    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="../vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="/home/index" class="site_title"><i class="fa fa-pie-chart"></i> <span>Redbip</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">

                        </div>
                        <div class="profile_info" id="welcome">
                           
                            <h2></h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <ul class="nav side-menu">
                                <li>
                                    <a href="/home/index" data-langkeyword="menudashboard"><i class="fa fa-home"></i> Dashboard <span></span></a>

                                </li>
                                <li>
                                    <a><i class="fa fa-sitemap" data-langkeyword="menudevices"></i> Cihazlarım <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>
                                            <a href="/home/Device_List" data-langkeyword="submenudevicelist">Cihaz Listesi</a>
                                        </li>

                                        <li>
                                            <a href="/home/device_logs" data-langkeyword="submenudevicelogs">Cihaz Bildirimler</a>
                                        </li>
                                        <li>
                                            <a href="/home/New_Device" data-langkeyword="submenunewdevice">Yeni Cihaz Kaydet</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="">
                                    <a><i class="fa fa-edit" data-langkeyword="menusettings"></i> Ayarlar <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none;">
                                        <li><a href="/home/OptionsDashboad" data-langkeyword="submenuthreshold">Eşik Ayarları</a></li>
                                        <li><a href="/home/OptionsDashboard_Notification" data-langkeyword="submenunotifications">Bildirim Seçenekleri</a></li>
                                        <li><a href="/home/OptionsDashboard_Notification2" data-langkeyword="submenuphoneconfig">Telefon Konfigrasyonu</a></li>


                                    </ul>
                                </li>

                            </ul>
                        </div>


                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Login" href="/home/Register" data-langkeyword="leftmenulogin">
                            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                        </a>

                        <a data-toggle="tooltip" data-placement="top" title="Logout" href="/home/logout" data-langkeyword="leftmenulogout">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <nav class="nav navbar-nav">
                        <ul class=" navbar-right">
                            <li class="nav-item dropdown open" style="padding-left: 15px;">
                                <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">

                                </a>
                                <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/home/profile" data-langkeyword="righttopprofile"> Kullanıcı Bilgilerim</a>

                                    <a class="dropdown-item" href="/home/logout" data-langkeyword="righttoplogout"><i class="fa fa-sign-out pull-right"></i> Çıkış</a>
                                </div>
                            </li>

                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h3 data-langkeyword="userprofile">Kullanıcı Profili</h3>
                        </div>


                    </div>

                    <div class="clearfix"></div>

                    <div class="row">
                        <div class="col-md-12 col-sm-12 ">
                            <div class="x_panel">

                                <div class="x_content">
                                    <br />
                                    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" data-langkeyword="formname">
                                                Adı: 
                                            </label>
                                            <div class="col-md-6 col-sm-6 ">
                                                <input type="text" id="CustomerName" class="form-control">
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" data-langkeyword="formsurname">
                                                Soyadı: 
                                            </label>
                                            <div class="col-md-6 col-sm-6 ">
                                                <input type="text" id="CustomerSurname" class="form-control">
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" data-langkeyword="formemail">
                                                E-Mail: 
                                            </label>
                                            <div class="col-md-6 col-sm-6 ">
                                                <input type="text" id="CustomerEmail" class="form-control">
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" data-langkeyword="formphonenumber">
                                                Telefon Numarası: 
                                            </label>
                                            <div class="col-md-6 col-sm-6 ">
                                                <input type="text" id="CustomerPhone" class="form-control">
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" data-langkeyword="formcompany">
                                                Kurum Adı: 
                                            </label>
                                            <div class="col-md-6 col-sm-6 ">
                                                <input type="text" id="CustomerCompany" class="form-control">
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <div class="col-md-6 col-sm-6 offset-md-5">

                                                <button type="submit" class="btn btn-success" id="save" data-langkeyword="savebutton">Kaydet</button>
                                            </div>
                                        </div>
                                        <div class="ln_solid"></div>
                                    </form>



                                    <div class="col-md-9 col-sm-9 ">

                                        <div class="profile_title">
                                            <div class="col-md-6">
                                                <h2 data-langkeyword="overviewtemp">Cihazların Isı Trafiği</h2>
                                            </div>

                                        </div>
                                        <!-- start of user-activity-graph -->
                                        <div id="graph_bar" style="width:100%; height:280px;"></div>

                                        <!-- end of user-activity-graph -->


                                    </div>
                                    <div class="col-md-9 col-sm-9 ">

                                        <div class="profile_title">
                                            <div class="col-md-6">
                                                <h2 data-langkeyword="overviewmois">Cihazların Nem Trafiği</h2>
                                            </div>

                                        </div>
                                        <!-- start of user-activity-graph -->
                                        <div id="graph_bar2" style="width:100%; height:280px;"></div>
                                        <!-- end of user-activity-graph -->


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    <a href="http://fosoft.com.tr/">Fosoft</a> ServerViewer Application All Rights Reserved 2019
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    <!-- jQuery -->
    <script src="../vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="../vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- FastClick -->
    <script src="../vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="../vendors/nprogress/nprogress.js"></script>
    <!-- morris.js -->
    <script src="../vendors/raphael/raphael.min.js"></script>
    <script src="../vendors/morris.js/morris.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="../vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="../vendors/moment/min/moment.min.js"></script>
    <script src="../vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="../build/js/custom.js"></script>

    <script type="text/javascript">
        var morrisData = [{ 'device': null, 'geekbench': null }];
        var morrisData2 = [{ 'device': null, 'geekbench': null }];
        var ids = '7069692D3032';

        $(document).ready(function () {
            init_morris_charts();
            init_morris_charts2();
            setInterval(init_morris_charts, 5000);
            setInterval(init_morris_charts2, 5000);
            setProfileData();


        });

        function init_morris_charts() {

            if (typeof (Morris) === 'undefined') { return; }
            $.ajax({

                type: 'POST',
                url: '/Api/Morris_Chart',
                dataType: 'json',
                data: { 'Macid': ids },
                success: function (result) {
                    console.log(result);
                    morrisData = [];
                    for (var i = 0; i < result.length; i++) {
                        morrisData.push({ 'geekbench': result[i].temp, 'device': result[i].macID });

                    }
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
            $('#graph_bar').empty();


            if ($('#graph_bar').length) {
                barchart = init_charts(document.getElementById('#graph_bar'));

                Morris.Bar({
                    element: 'graph_bar',
                    data: morrisData,
                    xkey: 'device',
                    ykeys: ['geekbench'],
                    labels: ['Isı'],
                    barRatio: 0.4,
                    barColors: ['#26B99A', '#34495E', '#ACADAC', '#3498DB'],
                    xLabelAngle: 0,
                    hideHover: 'auto',
                    resize: true
                });

            }
        }

        //chart2
        function init_morris_charts2() {

            if (typeof (Morris) === 'undefined') { return; }
            $.ajax({

                type: 'POST',
                url: '/Api/Morris_Chart',
                dataType: 'json',
                data: { 'Macid': ids },
                success: function (result) {
                    console.log(result);
                    for (var i = 0; i < result.length; i++) {
                        morrisData2.pop();

                    }
                    for (var i = 0; i < result.length; i++) {
                        morrisData2.push({ 'geekbench': result[i].mois, 'device': result[i].macID });
                    }
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
            $('#graph_bar2').empty();
            if ($('#graph_bar2').length) {
                barchart = init_charts(document.getElementById('#graph_bar2'));

                Morris.Bar({
                    element: 'graph_bar2',
                    data: morrisData2,
                    xkey: 'device',
                    ykeys: ['geekbench'],
                    labels: ['Nem'],
                    barRatio: 0.4,
                    barColors: ['#26B99A', '#34495E', '#ACADAC', '#3498DB'],
                    xLabelAngle: 0,
                    hideHover: 'auto',
                    resize: true
                });

            }
        }

        function setProfileData() {
            $.ajax({
                type: 'POST',
                url: '/Api/Profile_UserData',
                dataType: 'json',
                data: { 'Macid': ids },
                success: function (result) {
                    $('#welcome h2').append("Hoşgeldin <br> "+result[0].name);
                    $('#CustomerName').val(result[0].name);
                    $('#CustomerSurname').val(result[0].surname);
                    $('#CustomerEmail').val(result[0].email);
                    $('#CustomerPhone').val(result[0].phoneNumber);
                    $('#CustomerCompany').val(result[0].company);
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }


            });
        }



        $("#save").click(function (event) {
            var sname = $('#CustomerName').val();
            var ssurname = $('#CustomerSurname').val();
            var semail = $('#CustomerEmail').val();
            var sphone = $('#CustomerPhone').val();
            var scompany = $('#CustomerCompany').val();
            $.ajax({
                type: 'POST',
                url: '/Api/Profile_Userdata_Update',
                dataType: 'json',
                data: { 'name': sname, 'surname': ssurname, 'emailaddr': semail, 'phone': sphone, 'company': scompany },
                success: function (result) {
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }


            });

        });



        function phoneFormat(input) {
            // Strip all characters from the input except digits
            input = input.replace(/\D/g, '');

            // Trim the remaining input to ten characters, to preserve phone number format
            input = input.substring(0, 10);

            // Based upon the length of the string, we add formatting as necessary
            var size = input.length;
            if (size == 0) {
                input = input;
            } else if (size < 4) {
                input = '(' + input;
            } else if (size < 7) {
                input = '(' + input.substring(0, 3) + ') ' + input.substring(3, 6);
            } else {
                input = '(' + input.substring(0, 3) + ') ' + input.substring(3, 6) + '  ' + input.substring(6, 10);
            }
            return input;
        }
        document.getElementById('CustomerPhone').addEventListener('keyup', function (evt) {

            var CustomerPhone = document.getElementById('CustomerPhone');
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            CustomerPhone.value = phoneFormat(CustomerPhone.value);
        });




    </script>
</body>
</html>
